.aboutUs__container {
    padding-top: 90px;
    margin-right: auto;
    margin-left: auto;
}

.about__container {
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    justify-content: center;
    align-items: center;
}


.bg-secondary {
    background-color: #F6F6F6 ;
}


.first-col {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-right: 3rem ;
    padding-left: 3rem ;
}

.second-col {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin-bottom: 0 !important;
    background-color: #336C70 ;
}

.second-col__list {
    display: flex;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-right: 3rem ;
    padding-left: 3rem ;
}

.list__item {
    display: flex ;
    flex-direction: column;
    text-align: center;
    color: #fff ;
    padding: 0 30px 0 30px;
    margin-bottom: 3rem ;
}