.aboutUs__container {
    padding-top: 90px;
    margin-right: auto;
    margin-left: auto;
}

.about__container {
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    justify-content: center;
    align-items: center;
}


.bg-secondary {
    background-color: #F6F6F6 ;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.first-col {
    flex: 0 0 auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-right: 3rem ;
    padding-left: 3rem ;
}

.second-col {
    flex: 0 0 auto;
    width: 100%;
    margin-bottom: 0 !important;
    background-color: #336C70 ;
}

.second-col__list {
    height: 100% ;
    display: flex ;
    padding: 3rem ;
    justify-content: center ;
    flex-direction: column ;
}

.list__item {
    display: flex ;
    color: #fff ;
    margin-bottom: 3rem ;
}