footer {
    background-color: #2F215A;
    color: #F6F6F6;
}

.first-footer {
    padding: 3rem;
}

.footer-nav {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 25%;
}

.inner-nav {
    display: flex;
    flex-direction: column;
}

.second-footer {
    text-align: center;
    border-top: 1px solid #dee2e6;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 3rem;
    padding-left: 3rem;
}

.text-secondary {
    color: #F6F6F6;
}

.border-bottom {
    border-bottom: 1px solid #dee2e6;
}

.gap {
    gap: 10px;
}

@media (max-width: 740px) {

    .first-footer {
        padding: 1rem;
    }

    .footer-nav {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    .col {
        flex: 1 1 auto;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .barcode {
        width: 180px;
    }

    .mb-4 {
        margin-top: 1em!important;
        margin-bottom: 1rem!important;
    }

    

}